@import "./shared/core/header.css";
@import "../css/pages/home.css";
@import'../variable.css';

#fifth{
    max-width: 2500vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 1 1;
    overflow: hidden;
    display: none;
}
.SideVar{
    width: 25%;
    background-color: white;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 12px 18px;
    border-bottom: 1px solid rgba(196, 191, 191, 0.596);
    margin-bottom: 15px;
}
.heading a{
    font-size: 20px;
}
.shop-By-categories{
    padding-left: 11px;
}
li{
    list-style: none;
    padding: 9px;
    /* display: block; */
}
.li-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a1{
    border: 2px solid;
    padding: 0 3px;
    font-weight: bold;
    font-size: 14px;
}
.backgroundColor{
    background-color: rgba(0, 0, 0, 0.658);
    width: 1480px;
}