
.headerNav{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgba(59, 57, 57, 0.63);
    padding: 8px;
}

.header-top{
    border-bottom: .5px solid  rgb(221, 212, 212);
    margin-bottom: 15px;
}
.rightNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}
.rightNav-child{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.language-Selector img{
    width: 24px;
    display: inline-block;
}
.rightNav-child div a{
    color: rgba(59, 57, 57, 0.63);
}
.help-menu a:hover{
    color:  rgba(255, 15, 7, 0.644);
}
.help-menu select{
    visibility: hidden;
}

.vr-Line{
    height: 16px;
    width: 1px;
    background-color: rgba(59, 57, 57, 0.63);
    margin:5px 10px;
}



/* ------------- header top ------------- */


.middle-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}
.logo{
    width:20%;
    margin: 8px;
}
.search-var{
    flex: 1;
    padding: 15px;
}
.search-var input{
    width: 80%;
    height: 45px;
    border: 1px solid rgb(221, 212, 212);
    border-radius: 7px;
    flex: 1;
    font-size: 18px;
    color: rgba(59, 57, 57, 0.753);
    padding: 5px;
    margin-right: 10px;
}


.search-var a{
    
    display: inline-block;
    background-color: rgba(255, 15, 7, 0.644);
    color: aliceblue;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    width: 120px;
    transition: background-color .5s;
}
.search-var a:hover{
    
    background-color: rgb(33, 37, 33);
}
.user-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.login-register i{
    visibility: hidden;
}
.user-icon a:hover{
    color:  rgba(255, 15, 7, 0.644);
}
.login-register{
    padding: 10px;
}
.login-register a{
    display: inline-block;
}
.icon{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.icon div{

    position: relative;
    font-size: 28px;
}
.icon div span{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    padding: 1px 5px;
    border-radius: 50%;
    background-color: rgba(255, 15, 7, 0.979);
    color: white;
}
#span1{
    position: absolute;
    top: -9px;
    left: 16px;
}#span2{
    position: absolute;
    top: -9px;
    left: 16px;
}#span3{
    position: absolute;
    top: -9px;
    left: 18px;
}

.user-icon div.vr-Line{
    height: 35px;
    width: 1px;
    background-color: rgba(59, 57, 57, 0.63);
    margin:5px 10px;
}

/* ------------- header middle ------------- */

.bottom-container-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 15px 0;
    padding: 5px;
    align-items: center;
}
.header-bottom{
    border-top: .5px solid  rgb(221, 212, 212);
}
.categories-pages{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages li{
    list-style: none;
    display: inline-block;
    padding-left: 25px;
}
.pages li:hover{
    color:  rgba(255, 15, 7, 0.644);;
}
.categories-pages div.vr-Line{
    height: 23px;
    margin-left: 20px;
}

#sixth{
    display: none;
}


/* ------------- header bottom ------------- */



/* css for mobile */



@media screen and (max-width:600px) {


    /* ------------------header-top------------------- */


    .headerNav{
        margin: 0 auto;
        justify-content: space-around;
        position: relative;
        padding: 0;
    }
    .leftNav{
        font-size: 11px;
        position: absolute;
        top: 45px;
        display: none;
    }
    .rightNav{
        font-size: 12px;
    }
    .header-top{
        margin-bottom: 0;
    }
    .user-icon{
        padding: 0;
        margin: 0;
    }
    .language-Selector img{
        width: 18px;
    }
    .help-menu a{
        display: none;
    }
    .rightNav-child .vr-Line{
        display: none;
    }
    .help-menu select{
        visibility: visible;
        border: none;
    }

    /* ------------------header-middle------------------- */

   .header-middle{
    position: relative;
    padding-left: 15px;
   }
    .login-register{
        font-size: 14px;

    }


    .icon div{
        font-size: 14px;
    }


    .logo{
        display: flex;
        align-items: center;
        font-size: 25px;
        flex: 1;
        
        
    }
    .logo img{
        width: 100%;
    }
    .user-icon div.vr-Line {
        height: 29px;
        margin: 13% 6px 13% 2px;
        
    }
    .login-register{
        display: flex;
        align-items: center;
    }
    .login-register i{
        visibility: visible;
    }
    .login-register a{
        display: none;
    }
    .login-register span{
        display: none;
    }
    .icon div span {
        font-size: 13px;
    }
    #span1{
        font-size: 10px;
        top: -7px;
        left: 7px;
        padding: 1px 4px;
    }
    #span2{
        font-size: 10px;
        top: -7px;
        left: 7px;
        padding: 1px 4px;
        
    }#span3{
        font-size: 10px;
        top: -7px;
        left: 9px;
        padding: 1px 4px;
    }
    .search-var{
        position: absolute;
        top: 120%;
        left: 15%;
        padding: 3px;
        align-items: center;
        width: 80%;
        /* border: 1px solid; */
    }
    .search-var input{
        width: 66%;
        height: 28px;
        font-size: 11px;
        margin-right: 1%;
    }

    .search-var a{
        padding: 5.5px 4px;
        width: 70px;
        font-size: 11px;
    }


    /* ------------------header-bottom------------------- */


    .header-bottom{
        font-size: 11px;
        
    }
    .categories a #menu-var1{
        position: absolute;
        top: 9%;
        left: 10px;
    }
    .categories a span{
        display: none;
    }
    .header-bottom .vr-Line{
        display: none;
    }
    .pages{
        display: none;
    }
   

    #sixth{
        max-width: 1500vh;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1 1 1;
        display: none;
        
    }
    .sidevar2{
        /* width: 80%; */
        background-color: white;
        flex: 1;
        height: 100vh;
    }
    .sidevar2 .heading{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 18px;
        border-bottom: 1px solid rgba(196, 191, 191, 0.596);
        margin-bottom: 7px;
    }
    .sidevar2 .heading a{
        font-size: 19px;
    }
    .sidevar2 .li-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 170px;
        font-size: 13px;
    }
    .sidevar2 .li-flex a{
        width: 100px;
    }
    .sidevar2 .Menu{
        padding-left: 5px;
        border-bottom: 1px solid rgba(196, 191, 191, 0.596);
    }
   
    .discount-tag{
        border-bottom: 1px solid rgba(196, 191, 191, 0.596);
        margin: 10px;
        padding-bottom: 10px;
    }
    .freeDelivery{
        margin: 10px;
    }
    #sixth .backgroundColor{
        background-color: rgba(0, 0, 0, 0.658);
        height: 100vh;
    }


}


@media screen and (max-width:336px) and (min-width:310px) {
    
    .logo img{
        width: 150%;
    }
}
@media screen and (max-width:390px) and (min-width:310px) {
    .logo img{
        width: 128%;
    }
}


