@import'../variable.css';
#one{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(241, 231, 231);
    
}
.child1 {
    display: grid;
    grid-template-areas: 
    "i1 i1 i2"
    "i1 i1 i3";
    grid-gap: 20px;

}
.child1 img{
    border-radius: 7px;
    height: 100%;
}

.child1 button{
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 15, 7, 0.644);
    border: none;

}
.child1 div.item1{
    grid-area: i1;
}

.child1 div.item1 div{
    position: absolute;
    top: 350px;
    left: 700px;
}
.child1 div.item1 p{
    font-size: 20px;
}
.child1 div.item1 h1{
    font-size: 42px;
}
.child1 div.item1 span{
    font-size: 33px;
    color: rgba(255, 15, 7, 0.644);
    font-weight: bold;
}
.child1 div.item2{
    grid-area: i2;
}
.child1 div.item2 div{
    position: absolute;
    top: 325px;
    left: 1240px;
}
.item2 p{
    font-size: 24px;
    font-weight: bold;
}

.child1 div.item2 span{
    font-size: 21px;
    font-weight: bold;
    color: rgba(255, 15, 7, 0.644);
}

.child1 div.item2 a{
    text-decoration: underline;
}

.child1 div.item3{
    grid-area: i3;
}
.child1 div.item3 div{
    position: absolute;
    top: 610px;
    left: 1400px;
}
.child1 div.item3 p{
    font-size: 24px;
    font-weight: bold;
}

.child1 div.item3 span{
    font-size: 21px;
    font-weight: bold;
    color: rgba(255, 15, 7, 0.644);
}

.child1 div.item3 a{
    text-decoration: underline;
}
.child2{
    display: flex;
    justify-content: space-between;
    margin: 35px 0;    
}

.child2 div img{
    border-radius: 8px;
}
.child2 span{
    font-weight: bold;
}
.child2 div.item1 span{
    position: absolute;
    left: 110px;
    top: 980px;
}
.child2 div.item2 span{
    position: absolute;
    left: 333px;
    top: 980px;
}.child2 div.item3 span{
    position: absolute;
    left: 560px;
    top: 980px;
}.child2 div.item4 span{
    position: absolute;
    left: 783px;
    top: 980px;
}.child2 div.item5 span{
    position: absolute;
    left: 1017px;
    top: 980px;
}.child2 div.item6 span{
    position: absolute;
    left: 1240px;
    top: 980px;
}.child2 div.item7 span{
    position: absolute;
    left: 1510px;
    top: 980px;
}

#two{
    margin: 50px 0px;
}
.free-shipping-flexbox{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(255, 15, 7, 0.644);
    border-radius: 5px;
    padding: 25px 60px;
    align-items: center;
}
.free-shipping-flexbox div.vr-Line{
    height: 35px;
}
.free-shipping-flexbox div.free-shipping-tag{
    font-size: 31px;
    font-weight: bold;
}
.free-shipping-flexbox div.amount-tag{
    font-size: 31px;
    font-weight: bold;
}

.product-catagory{
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.product-catagory div{
    flex: .32;
}

.product-catagory img{
    border-radius: 6px;
    /* position: relative; */
}
.product-catagory span{
    color: rgba(255, 15, 7, 0.644);
    font-size: 22px;
    font-weight: bold;
}
.product-catagory a{
    text-decoration: underline;
}
.product-catagory div div.div-one{
    position: absolute;
    top: 1335px;
    left: 380px;
}
.product-catagory div div.div-two{
    position: absolute;
    top: 1335px;
    left: 895px;
}
.product-catagory div div.div-three{
    position: absolute;
    top: 1335px;
    left: 1420px;
}






